flows.json
[{"id":"201d450e.6eeaaa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"698371ff.5851c","type":"mqtt in","z":"201d450e.6eeaaa","name":"","topic":"hmataro/salaespera1/persones","qos":"2","datatype":"auto","broker":"64129253.a5b6bc","x":230,"y":420,"wires":[["ebe28a2b.6500a8","1c0b2ad9.43b9c5","c092a8e2.7a8a48"]]},{"id":"ebe28a2b.6500a8","type":"debug","z":"201d450e.6eeaaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":460,"wires":[]},{"id":"a3601f43.b3bc4","type":"ui_gauge","z":"201d450e.6eeaaa","name":"","group":"e90c0a14.fcbf28","order":5,"width":0,"height":0,"gtype":"gage","title":"Capacitat (%)","label":"10","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":600,"wires":[]},{"id":"10856f4d.2fb701","type":"ui_text","z":"201d450e.6eeaaa","group":"e90c0a14.fcbf28","order":3,"width":0,"height":0,"name":"","label":"Nº màx persones:","format":"{{msg.payload[0][\"capacitat\"]}}","layout":"row-left","x":610,"y":60,"wires":[]},{"id":"3a5c8233.11e25e","type":"ui_text_input","z":"201d450e.6eeaaa","name":"","label":"Nom de la Sala","tooltip":"","group":"8e89d2ef.621bd","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":180,"y":360,"wires":[["5dc03f62.26486","6408e1f2.a25b4"]]},{"id":"cc373613.9ec518","type":"ui_numeric","z":"201d450e.6eeaaa","name":"","label":"Capacitat de la sala","tooltip":"","group":"8e89d2ef.621bd","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"999","step":"5","x":200,"y":300,"wires":[["5fb2d6dd.60a568"]]},{"id":"b27c115.55fecf","type":"mqtt out","z":"201d450e.6eeaaa","name":"","topic":"hmataro/salaespera1/capacitat","qos":"","retain":"","broker":"64129253.a5b6bc","x":870,"y":100,"wires":[]},{"id":"bee252b2.c57ea","type":"mqtt out","z":"201d450e.6eeaaa","name":"","topic":"hmataro/salaespera1/persones_dins","qos":"","retain":"","broker":"64129253.a5b6bc","x":930,"y":260,"wires":[]},{"id":"1c0b2ad9.43b9c5","type":"ui_chart","z":"201d450e.6eeaaa","name":"","group":"e90c0a14.fcbf28","order":6,"width":0,"height":0,"label":"Gràfic","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":500,"wires":[[]]},{"id":"33b1bc24.ffc884","type":"mqtt in","z":"201d450e.6eeaaa","name":"","topic":"hmataro/salaespera1/persones_percentatge","qos":"2","datatype":"auto","broker":"64129253.a5b6bc","x":270,"y":580,"wires":[["dda86d27.f2058","a3601f43.b3bc4"]]},{"id":"dda86d27.f2058","type":"debug","z":"201d450e.6eeaaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":560,"wires":[]},{"id":"cbd34f71.1b36c","type":"ui_text","z":"201d450e.6eeaaa","group":"e90c0a14.fcbf28","order":4,"width":0,"height":0,"name":"","label":"Persones dins: ","format":"{{msg.payload}}","layout":"row-left","x":860,"y":220,"wires":[]},{"id":"52b39d82.955594","type":"mysql","z":"201d450e.6eeaaa","mydb":"a236eeeb.79459","name":"","x":870,"y":360,"wires":[[]]},{"id":"c092a8e2.7a8a48","type":"function","z":"201d450e.6eeaaa","name":"INSERT persones","func":"prova = 1;\nmsg.topic = \"INSERT INTO persona (dataHora,personesDins) VALUES ('\"+new Date(Date.now())+\"','\"+msg.payload+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":420,"wires":[["52b39d82.955594"]]},{"id":"5dc03f62.26486","type":"function","z":"201d450e.6eeaaa","name":"UPDATE nom","func":"msg.topic = \"UPDATE sala SET nom='\"+msg.payload+\"' WHERE id=1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":340,"wires":[["52b39d82.955594"]]},{"id":"5fb2d6dd.60a568","type":"function","z":"201d450e.6eeaaa","name":"UPDATE capacitat","func":"msg.topic = \"UPDATE sala SET capacitat='\"+msg.payload+\"' WHERE id=1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":300,"wires":[["52b39d82.955594"]]},{"id":"6408e1f2.a25b4","type":"function","z":"201d450e.6eeaaa","name":"SELECT nom","func":"msg.topic = \"SELECT nom FROM sala WHERE id=1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":380,"wires":[["52b39d82.955594"]]},{"id":"8e3e0e4a.28e1d","type":"inject","z":"201d450e.6eeaaa","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT nom FROM sala WHERE id=1","payloadType":"str","x":260,"y":160,"wires":[["1a542114.dfc88f"]]},{"id":"c1b80531.0b53a8","type":"ui_text","z":"201d450e.6eeaaa","group":"e90c0a14.fcbf28","order":1,"width":0,"height":0,"name":"","label":"Nom: ","format":"{{msg.payload[0][\"nom\"]}}","layout":"row-left","x":690,"y":160,"wires":[]},{"id":"1a542114.dfc88f","type":"mysql","z":"201d450e.6eeaaa","mydb":"a236eeeb.79459","name":"","x":530,"y":160,"wires":[["c1b80531.0b53a8"]]},{"id":"e23bc78d.a590e8","type":"mysql","z":"201d450e.6eeaaa","mydb":"a236eeeb.79459","name":"","x":410,"y":60,"wires":[["10856f4d.2fb701","1746623e.3bb10e"]]},{"id":"c92aa0cf.ca8c3","type":"inject","z":"201d450e.6eeaaa","name":"SELECT capacitat","props":[{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"SELECT capacitat FROM sala WHERE id=1","x":190,"y":60,"wires":[["e23bc78d.a590e8"]]},{"id":"1746623e.3bb10e","type":"change","z":"201d450e.6eeaaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload[0][\"capacitat\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":100,"wires":[["b27c115.55fecf"]]},{"id":"eaf585d4.e617a8","type":"inject","z":"201d450e.6eeaaa","name":"SELECT personesDins","props":[{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"select personesDins FROM persona ORDER BY id DESC LIMIT 1","x":210,"y":220,"wires":[["b363409a.76694"]]},{"id":"b363409a.76694","type":"mysql","z":"201d450e.6eeaaa","mydb":"a236eeeb.79459","name":"","x":450,"y":220,"wires":[["d85cdfa.5014b2"]]},{"id":"d85cdfa.5014b2","type":"change","z":"201d450e.6eeaaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload[0][\"personesDins\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["cbd34f71.1b36c","bee252b2.c57ea"]]},{"id":"64129253.a5b6bc","type":"mqtt-broker","name":"comptaPersones","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e90c0a14.fcbf28","type":"ui_group","name":"Sala d'espera","tab":"3dc6b4c4.caf92c","order":1,"disp":true,"width":"6","collapse":false,"info":"**Compta Persones**"},{"id":"8e89d2ef.621bd","type":"ui_group","name":"Configuració","tab":"4b082b9a.661fe4","order":1,"disp":true,"width":"6","collapse":false},{"id":"a236eeeb.79459","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"tfmebartres","tz":"GMT+1","charset":"UTF8"},{"id":"3dc6b4c4.caf92c","type":"ui_tab","name":"Hospital de Mataró","icon":"local_hospital","order":2,"disabled":false,"hidden":false,"info":"Tab 1"},{"id":"4b082b9a.661fe4","type":"ui_tab","name":"Configuració de la Sala","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
