flows.json
[{"id":"201d450e.6eeaaa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"698371ff.5851c","type":"mqtt in","z":"201d450e.6eeaaa","name":"","topic":"hmataro/salaespera1/persones","qos":"2","datatype":"auto","broker":"64129253.a5b6bc","x":330,"y":640,"wires":[["ebe28a2b.6500a8","1c0b2ad9.43b9c5","cbd34f71.1b36c","c092a8e2.7a8a48"]]},{"id":"ebe28a2b.6500a8","type":"debug","z":"201d450e.6eeaaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":640,"wires":[]},{"id":"a3601f43.b3bc4","type":"ui_gauge","z":"201d450e.6eeaaa","name":"","group":"e90c0a14.fcbf28","order":4,"width":0,"height":0,"gtype":"gage","title":"Capacitat (%)","label":"10","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":860,"wires":[]},{"id":"28359606.96c71a","type":"mqtt in","z":"201d450e.6eeaaa","name":"","topic":"hmataro/salaespera1/aforament","qos":"2","datatype":"auto","broker":"64129253.a5b6bc","x":730,"y":180,"wires":[["10856f4d.2fb701","b0bd7a91.1c04b8"]]},{"id":"b0bd7a91.1c04b8","type":"debug","z":"201d450e.6eeaaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":220,"wires":[]},{"id":"10856f4d.2fb701","type":"ui_text","z":"201d450e.6eeaaa","group":"e90c0a14.fcbf28","order":2,"width":0,"height":0,"name":"","label":"CAPACITAT DE LA SALA","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":160,"wires":[]},{"id":"3a5c8233.11e25e","type":"ui_text_input","z":"201d450e.6eeaaa","name":"","label":"Nom de la Sala","tooltip":"","group":"8e89d2ef.621bd","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":260,"y":480,"wires":[["bee252b2.c57ea","5dc03f62.26486","6408e1f2.a25b4"]]},{"id":"cc373613.9ec518","type":"ui_numeric","z":"201d450e.6eeaaa","name":"","label":"Capacitat de la sala","tooltip":"","group":"8e89d2ef.621bd","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"999","step":"5","x":200,"y":200,"wires":[["5fb2d6dd.60a568","1b60d91.c0eef27"]]},{"id":"b27c115.55fecf","type":"mqtt out","z":"201d450e.6eeaaa","name":"","topic":"hmataro/salaespera1/capacitat","qos":"","retain":"","broker":"64129253.a5b6bc","x":930,"y":60,"wires":[]},{"id":"bee252b2.c57ea","type":"mqtt out","z":"201d450e.6eeaaa","name":"","topic":"hmataro/salaespera1/nom","qos":"","retain":"","broker":"64129253.a5b6bc","x":320,"y":560,"wires":[]},{"id":"1c0b2ad9.43b9c5","type":"ui_chart","z":"201d450e.6eeaaa","name":"","group":"e90c0a14.fcbf28","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":720,"wires":[[]]},{"id":"33b1bc24.ffc884","type":"mqtt in","z":"201d450e.6eeaaa","name":"","topic":"hmataro/salaespera1/persones_percentatge","qos":"2","datatype":"auto","broker":"64129253.a5b6bc","x":380,"y":800,"wires":[["dda86d27.f2058","a3601f43.b3bc4"]]},{"id":"dda86d27.f2058","type":"debug","z":"201d450e.6eeaaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":800,"wires":[]},{"id":"cbd34f71.1b36c","type":"ui_text","z":"201d450e.6eeaaa","group":"e90c0a14.fcbf28","order":3,"width":0,"height":0,"name":"","label":"Persones dins: ","format":"{{msg.payload}}","layout":"row-left","x":720,"y":680,"wires":[]},{"id":"52b39d82.955594","type":"mysql","z":"201d450e.6eeaaa","mydb":"a236eeeb.79459","name":"","x":930,"y":340,"wires":[[]]},{"id":"c092a8e2.7a8a48","type":"function","z":"201d450e.6eeaaa","name":"INSERT persones","func":"prova = 1;\nmsg.topic = \"INSERT INTO persona VALUES('\"+new Date(Date.now())+\"','\"+msg.payload+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":400,"wires":[["52b39d82.955594"]]},{"id":"1410efb7.6c303","type":"inject","z":"201d450e.6eeaaa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":400,"wires":[["c092a8e2.7a8a48"]]},{"id":"afb8fee5.cd668","type":"inject","z":"201d450e.6eeaaa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":360,"wires":[["5dc03f62.26486"]]},{"id":"5dc03f62.26486","type":"function","z":"201d450e.6eeaaa","name":"UPDATE nom","func":"msg.topic = \"UPDATE sala SET nom='\"+msg.payload+\"' WHERE id=1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":360,"wires":[["52b39d82.955594"]]},{"id":"c6fbf6fb.51d048","type":"inject","z":"201d450e.6eeaaa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":320,"wires":[["5fb2d6dd.60a568"]]},{"id":"5fb2d6dd.60a568","type":"function","z":"201d450e.6eeaaa","name":"UPDATE capacitat","func":"msg.topic = \"UPDATE sala SET capacitat='\"+msg.payload+\"' WHERE id=1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":320,"wires":[["52b39d82.955594"]]},{"id":"c46fe645.69bd78","type":"function","z":"201d450e.6eeaaa","name":"SELECT capacitat","func":"msg.topic = \"SELECT capacitat FROM sala WHERE id=1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":60,"wires":[["52b39d82.955594","b27c115.55fecf","10856f4d.2fb701"]]},{"id":"6408e1f2.a25b4","type":"function","z":"201d450e.6eeaaa","name":"SELECT nom","func":"msg.topic = \"SELECT nom FROM sala WHERE id=1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":440,"wires":[["52b39d82.955594"]]},{"id":"b263936f.13712","type":"inject","z":"201d450e.6eeaaa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PROVA","payloadType":"str","x":220,"y":60,"wires":[["c46fe645.69bd78"]]},{"id":"1b60d91.c0eef27","type":"trigger","z":"201d450e.6eeaaa","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":360,"y":100,"wires":[["c46fe645.69bd78"]]},{"id":"64129253.a5b6bc","type":"mqtt-broker","name":"comptaPersones","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e90c0a14.fcbf28","type":"ui_group","name":"Sala d'espera","tab":"3dc6b4c4.caf92c","order":1,"disp":true,"width":"6","collapse":false,"info":"**Compta Persones**"},{"id":"8e89d2ef.621bd","type":"ui_group","name":"Configuració","tab":"4b082b9a.661fe4","order":1,"disp":true,"width":"6","collapse":false},{"id":"a236eeeb.79459","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"tfmebartres","tz":"GMT+1","charset":"UTF8"},{"id":"3dc6b4c4.caf92c","type":"ui_tab","name":"Hospital de Mataró","icon":"local_hospital","order":2,"disabled":false,"hidden":false,"info":"Tab 1"},{"id":"4b082b9a.661fe4","type":"ui_tab","name":"Configuració de la Sala","icon":"dashboard","order":2,"disabled":false,"hidden":false}]